version: '3'

services:

  minecraft:
    image: docker pull itzg/minecraft-server
    environment:
      EULA: "FALSE"
    volumes:
      - {{ minecraft_dir }}/island:/
    ports:
      - '25565:25565'
